<table class="table table-hover">
  <tbody>
    <% participants.includes(:user).each do |participant| %>
    <tr>
      <td><%= image_tag(participant.user.link_photo, width: "35px", height: "35px", class: "img-circle") %> &nbsp; <%= participant.user.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
