/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// http://www.flaticon.com/free-icon/horse-black-head-silhouette-of-a-chess-piece_36189

@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";
.navbar {
  border-radius: 0;
  background-color: $base_color;
  border: 0;
  color: #FFFFFF;
  div ul li.active {
    background-color: #FFFFFF;
    a {
      color: $base_color;
    }
  }
  
  a {
      color: #FFFFFF;
    }
    
  .logo {
    height: 40px;
    margin: 5px 0px;
  }
  
  .logo-link{
    font-family: Arial;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
  }
}