/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
 */

// http://www.flaticon.com/free-icon/horse-black-head-silhouette-of-a-chess-piece_36189

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

@import "colors";
@import "brackets";
@import "championships";

.navbar {
  border-radius: 0;
  background-color: $base_color;
  border: 0;
  color: #FFFFFF;
  div ul li {
    :hover{
      background-color: $secondary_color;
    }
    &.active, &.active :hover{
      background-color: #FFFFFF;
      a {
        color: $base_color;
      }
    }
  }

  a {
      color: #FFFFFF;
    }

  .logo {
    height: 40px;
    margin: 5px 0px;
  }

  .logo-link{
    font-family: Arial;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
  }
}
.nopadding {
padding-left: 0px;
padding-right: 0px;
vertical-align: middle;
}

.padding-height{
padding-top: 5px;
padding-bottom: 5px;
}
.homediv {
 width: 100%;
 //height: 100%;
}
.form-control:focus {
  border-color: #C6642F;
  box-shadow: inset 0 1px 1px rgba(198, 100, 47, 0.075), 0 0 8px rgba(	198, 100, 47, 0.9);
}
.blocohomediv {
 float: left;
 width: 33.33%;
 height: 100%;
}
.homediv h4{
  color:#FFFFFF;
  font-size:44px;
  margin-left:8%;
  margin-top:3%;
}
.homebotaoBranco {
 width: 40%;
 height: 50px;
 font-family: 'Cabin';
 float: left;
 margin-left:8%;
 background-color: transparent;
 border: 1px solid #FFFFFF;
 border-radius: 30px;
 font-size: 22px;
 line-height:200%;
 transition: all 0.3s ease;
 text-decoration: none;

}

.homebotaoBranco p
{
  color: #FFFFFF;
  text-align:center;

}
.homebotaoBranco:hover p
{
  color: #333333;
  text-align:center;
  font-size: 28px;
  text-decoration: none;
  margin-top:3px;
}
.homebotaoBranco:hover {
 background-color: #FFFFFF;
 color: #333333;
 text-decoration: none;
}

#entrar-banner-bloco-home {
 margin-left: 20%;
}

#imaghomediv {
 background-image: image-url("CampeonatoHome.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size:cover;
}
#panel_increver{
  position:relative;
  top:8%;
  width:70%;
  margin:auto;
  border-color:#C6642F;
}
.btn-orange{
  border-color:#C6642F;
  background:#C6642F;
}
.btn-orange:hover{
  border-color: #c6612f;
  background-color: #c16f3c;
  box-shadow: inset 0 2px 2px rgba(198, 100, 47, 0.075), 0 0 8px rgba(	198, 100, 47, 0.9);
}
#pretohomediv {
 background-color: rgba(0, 0, 0, 0.7);
}

#conteudoblocohomediv {
 margin-top: 200px;
 color: #FFFFFF;
}

#tituloblocohomediv {
 text-align: center;
 font-family: Roboto;
 font-size: 50px;
 margin: 0px;
 padding: 0px;
}
.link_refenderhome{
  width:100%;
  display:inline-block;
  text-align:center;
  color:#FFFFFF;
}
.link_refenderhome a {
  color:#FFFFFF;
}
