/*
* https://codepen.io/philippkuehn/pen/QbrOaN
*/

@import "colors";

body {
  font-family: sans-serif;
  font-size: 15px;
}

$border-width: 1px;
$reverse: false;
$line-color: #333;

.tree {
  @if $reverse {
    transform: rotate(180deg);
    transform-origin: 50%;
  }
}

.tree ul {
  position: relative;
  padding: 1em 0;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.tree li {
  display: inline-block; // need white-space fix
  vertical-align: top;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 1em .1em 0 .1em;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: $border-width solid $line-color;
    width: 50%;
    height: 1em;
  }
  &::after {
    right: auto;
    left: 50%;
    border-left: $border-width solid $line-color;
  }
  &:only-child::after,
  &:only-child::before {
    display: none;
  }
  &:only-child {
    padding-top: 0;
  }
  &:first-child::before,
  &:last-child::after {
    border: 0 none;
  }
  &:last-child::before{
    border-right: $border-width solid $line-color;
    border-radius: 0 5px 0 0;
  }
  &:first-child::after{
    border-radius: 5px 0 0 0;
  }
}

.tree ul ul::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: $border-width solid $line-color;
  width: 0;
  height: 1em;
}

.tree li span {
  border: $border-width solid $line-color;
  padding: .15em .25em;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  top: $border-width;
  color: #333;
  @if $reverse {
    transform: rotate(180deg);
  }
  a {
    color: #FFF;
    text-decoration: none;
    border: 1px solid $line_color;
    background-color: $line_color;
    border-radius: 5px;
    padding: 2px 1px;
  }
}

.tree li span:hover,
.tree li span:hover+ul li span {
  background: $secondary_color;
  color: #fff;
  border: $border-width solid $base_color;
}

.tree li span:hover + ul li::after,
.tree li span:hover + ul li::before,
.tree li span:hover + ul::before,
.tree li span:hover + ul ul::before{
  border-color: $base_color;
}
